.logo img {
  opacity: 90%;
  width: 45px;
  height: 45px;
}

form.login-form {
  padding-left: 65%;
}

form.login-form > div {
  float: left;
}

form.login-form div {
  margin-right: 5px;
}

form.login-form div > span {
  float: left;
  width: 35%;
  margin-top: 8px;
  color: white;
}

form.login-form div > input {
  float: left;
  width: 65%;
}

form.login-form div.login-button {
  margin-top: 5%;
  margin-left: 10px;
}

#errorMsg {
  margin: 0 auto;
  color: red;
  font-size: 20px;
  text-align: center;
}
.container {
  position: absolute;
  top: 4.5em;
  left: 12em;
  font-size: 35px;
  height: 100vh;
  font-family: Raleway;
  font-weight: bold;
}

.typewriter {
	width: 20ch;
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid #ed9626;
	animation: cursor 1s step-start infinite, 
    text 3s steps(18) alternate infinite;
    opacity: 70%;
}

@keyframes cursor {
	0%, 100% { 
    border-color: #e8e7e7; 
  }
}

@keyframes text {
	0% { 
    width: 0; 
  }
	100% { 
    width: 20ch; 
  }
}

footer {
  position: absolute;
  bottom: 0;
}